<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head-admin')  %> <!-- revisar ruta -->
<body class="form-add">
    <%- include('../../partials/header-admin') %> 
    <section class="section-admin">
        <h2 class="admin">Agregar Nuevo Producto</h2>

        <form id="formProduct" action="/admin/productos" method="post" class="form-admin" enctype="multipart/form-data">
            <div class="container-admin">
                <label for="name">Nombre del producto:</label>
                <input type="text" class="admin-style" name="name" id="name" value="<%= (locals.old && old.name) ? old.name : "" %>">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-msg"><%= errors.name.msg %></span>
                <% } %>
                <span class="error-msg" id="nameError"></span>
            </div>
            <div class="container-admin">
                <label for="type">Tipo:</label>
                <input type="text" class="admin-style" name="type" id="type" value="<%= (locals.old && old.type) ? old.type : "" %>">
                <% if (locals.errors && errors.type) { %>
                    <span class="error-msg"><%= errors.type.msg %></span>
                <% } %>
                <span class="error-msg" id="typeError"></span>
            </div>
            <div class="container-admin">
                <label for="category">Categoría:</label>
                <select name="categoryId" id="categoryId" class="admin-style">
                    <option value="">Elegí</option>
                    <% categorias.forEach(({id, name}) => { %>
                        <option value="<%= id %>"><%= name %> </option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.categoryId) { %>
                    <span class="error-msg"><%= errors.categoryId.msg %></span>
                <% } %>
                <span class="error-msg" id="categoryNameError"></span>
            </div>
            <div class="container-admin">
                <label for="price">Precio:</label>
                <input type="number" class="admin-style" name="price" id="price" value="<%= (locals.old && old.price) ? old.price: "" %>">
                <% if (locals.errors && errors.price) { %>
                    <span class="error-msg"><%= errors.price.msg %></span>
                <% } %>
                <span class="error-msg" id="priceError"></span>
            </div>
            <div class="container-admin">
                <label for="origin">Origen del Producto:</label>
                <input type="text" class="admin-style" name="origin" id="origin" value="<%= (locals.old && old.origin) ? old.origin : "" %>">
                <% if (locals.errors && errors.origin) { %>
                    <span class="error-msg"><%= errors.origin.msg %></span>
                <% } %>
                <span class="error-msg" id="originError"></span>
            </div>
            <div class="container-admin">
                <label for="view">En vista:</label>
                <input type="checkbox" class="checkbox-style" id="view" name="view"> <!-- este campo puede estar vacio -->
            </div>
            <div class="container-admin-file imageError">
                <label for="image">Agregar imagen</label>
                <input type="file" name="image" id="image">
                <span class="error-msg" id="imageError"></span>
            </div>
            <div class="finalizar-registro">
                <button type="submit">AGREGAR PRODUCTO</button>
                <span id="submitErrors" style="font-size: 14px;"></span>
            </div>

        </form>
    </section>
    <% if (!locals.errors) { %>
        <%- include('../../partials/scripts') %> 
    <% }%> 
    <script src="../../../../javascript/validationsFront/addProductValidator.js"></script>
</body>
</html>