<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head-admin')  %>
<body class="administracion">
    <%- include('../../partials/header-admin') %> 
    <section class="section-admin">
        <h2 class="admin">Editar Categoría</h2>
        <form action="/admin/categorias/<%=categoria.id %>?_method=PUT" method="post" class="form-admin">
            <div class="container-admin">
                <label for="name">Nombre de la categoría:</label>
                <input type="text" class="admin-style" name="name" id="name" value="<%=categoria.name %>">
            </div>
            <div class="finalizar-registro">
                <button type="submit">GUARDAR CAMBIOS</button>
            </div>
        </form>
    </section>
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>