<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="catalogo">
    <%- include("../partials/header.ejs") %>
    <main class="main-catalogo">
        <h3 class="titulo-catalogo">Catálogo Completo</h3>
        <hr class="hr-separacion">
        <section class="frutas-section">
            <% products.forEach(product => { %>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="/productos/detalle/<%- product.id %>"><img width="100%" src="/images/productos/<%- product.image%>" alt="imagen products"></a>
                </div>
                <article class="detalles-catalogo">
                    <p><%- product.name %></p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$ <%- product.price %></p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <% }) %>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>