<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="body-detalles">
    <%- include("../partials/header.ejs") %>
    <main class="producto-datalle">

        <div class="caja1">

            <div class="imagen-detalle">
                <img src="/images/<%= product.image[0] %>" alt="Durazno">
            </div>

            <div class="texto-detalle">
                <h3><%= product.name %></h3>
                <p> <b>Tipo: </b><%= product.type %></p>
                <p> <b> Procedencia: </b><%= product.origin %></p>
                <p><b> ID: </b><%= product.id %> </p>
                <p> <b>Precio por Kg: </b>$<%= product.price %></p>
            </div>

            <div class="botones-detalle">
                <button>Agregar al carrito</button>
                <button>Ver tu carrito</button>
            </div>

        </div>
    

        <div class="titulo-caja2">
            <div></div>
            <h3>PRODUCTOS RELACIONADOS</h3>
            <div>
        
            </div>
        </div>

        <div class="caja2">
          <!-- Producto 1 -->
            <div class="producto-caja2">
                <a href="/">

                <div class="imagen-caja2">
                    <img src="/images/Mango.png" alt="">
                </div>
            </a>
                
                <div class="texto-caja2">
                    <b>$ XXXX</b>
                     <P>Mango</P> 
                </div>
            </div>
         <!-- Producto 2 -->
            <div class="producto-caja2">
                <a href="/">

                <div class="imagen-caja2">
                    <img src="/images/Mango.png" alt="">
                </div>
            </a>
                
                <div class="texto-caja2">
                    <b>$ XXXX</b>
                     <P>Mango</P> 
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="producto-caja2">
                <a href="/">

                <div class="imagen-caja2">
                    <img src="/images/Mango.png" alt="">
                </div>
            </a>
                
                <div class="texto-caja2">
                    <b>$ XXXX</b>
                     <P>Mango</P> 
                </div>
            </div>
           <!-- revisar si dejar el a o no -->
            
            <div class="producto-caja2">
                <div class="imagen-caja2">
                    <img src="/images/Manzana.png" alt="">
                </div>

                <div class="texto-caja2">
                  <b>$ XXXX</b>
                  <P>Manzana</P>
                </div>

            </div>

        </div>
    </main>
    <!-- FOOTER -->

    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
    
</body>
</html>