<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="productCart">
    <%- include("../partials/header.ejs") %>


    <main>
        <div class="container-carrito">
            <% if (products.length === 0) { %>
                <div class="container-carrito-vacio">
                    <h2 class="no-products">SU CARRITO ESTA VACIO</h2>
                    <h3>¿No sabés qué comprar? ¡Te recomendamos algunos productos! ;)</h3>
                </div>
            <% }  else { %>
                <h2 class="products-in-cart">Productos en su Carrito</h2>
                

                <section class="menu-carrito">
                    <nav class="data-carrito">
                        <ul>
                            <li><a href="/productCart">Carrito(3)</a></li>
                            <li><a id="palabra-azul" href="#">Favoritos(1)</a></li>
                            <li><a id="palabra-azul" href="#">Historial</a></li>
                        </ul>
                    </nav>
                </section>
                <% products.forEach(product => { %>
                    <article class="articulos-carrito">
                        <div class="tarjeta-carrito">
                            <div class="container-img-carrito">
                                <img src="/images/productos/<%= product.image %>" alt="imageProduct">
                            </div>
                            <div class="info-carrito">
                                <strong><%= product.name %></strong>
                                <p>ID: <%= product.id %></p>
                                <strong>$<%= product.price %></strong>
                            </div>


                            <div class="productNumber">
                                <label for="cantidad">Cantidad</label>
                                <div class="counter">
                                    <button type="button" class="fa-solid fa-minus" id="botones" onclick="removeOne(`<%- product.id %>`, `<%= session.user.id %>`)"></button>
                                        <div class="cantidad-productos"><%- product.quantity %></div>      
                                    <button type="button" class="fa-solid fa-plus" id="botones" onclick="addToCart(`<%= product.id %>`, 1,`<%= session.user.id %>`)"></button>
                                    
                                    <select name="unidad-peso" id="unidad-peso" class="unidad-peso">
                                        <option value="kg" selected>kg</option> 
                                        <option value="g">gr</option>
                                        <option value="u">u</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="botones-carrito">
                            <button type="reset" onclick="removeAll(`<%- product.id %>`, `<%= session.user.id %>`)">Eliminar</button>
                            <button type="submi disabled">Agregar a favoritos</button>
                        </div>
                    </article>
                <% }) %>
                <section class="datos-carrito">
                    <div class="container-input">
                        <div class="input-carrito radio-buttons">
                            <input type="radio" for="retiro" name="checkbox" id="retiro" onclick="radio(0)"><label for="retiro">
                                <strong>Retiro en sucursal cercana</strong> $0
                            </label>
                            <br>
                            <span class="direccion-carrito">(Leandro N. Alem 4479, Claypole, BA)</span>
                        </div>
                        <div class="input-carrito linea">
                            <input type="radio" for="envio" name="checkbox" id="envio" onclick="radio(1)"><label for="envio">
                                <strong>Envio a domicilio registrado</strong> $127
                            </label>
                            <br>
                            <span class="direccion-carrito">(Av. Lacaze 4362, Claypole, BA)</span>
                        </div>
                    </div>


                    <div class="precio-total total">
                        <strong>Total con envío:</strong>
                        <strong id="precioTotal">$794</strong>
                    </div>
                    <!-- <strong>Subtotal</strong>
                        Precio final 
                    <strong id="precioSubtotal">$PrecioFinal</strong>
                    <div class="subtotal">
                    </div>
                    <div class="costo-envio">
                        <strong>Costo de envío</strong>
                        <span>$340</span>
                    </div> -->
                    <div class="clear-cart-content">
                        <button class="clear-cart" onclick="clearCart(`<%=user%>`)">
                            Vaciar carrito
                        </button>  
                    </div>
                    <div class="boton-final">
                        <button type="submit">Finalizar Compra</button>
                    </div>
                    
                </section>
            <% } %> 

        </div>
    </main>


    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>