<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="body-detalles">
    <%- include("../partials/header.ejs") %>
    <main class="producto-datalle">

        <div class="caja1">

            <div class="imagen-detalle">
                <img src="/images/productos/<%= product.image %>" alt="Durazno">
            </div>

            <div class="texto-detalle">
                <h3><%= product.name %></h3>
                <p> <b>Tipo: </b><%= product.type %></p>
                <p> <b> Procedencia: </b><%= product.origin %></p>
                <p><b> ID: </b><%= product.id %> </p>
                <p> <b>Precio por Kg: </b>$<%= product.price %></p>
            </div>
            <div class="productNumber">
                <label for="cantidad">Cantidad</label>
                <div class="counter">
                  <button type="button" class="btn-subtract" onclick="subtract();">
                    -
                  </button>
    
                  <div id="count">1</div>
    
                  <button type="button" id="btn-add" onclick="add();">+</button>
                </div>
            </div>

            <div class="botones-detalle">
                <button onclick="addToCartProductDetail(`<%- product.id %>`,`<%= user %>`)">Agregar al carrito</button>
              <!--   <button>Ver tu carrito</button> -->
            </div>

        </div>
    


        <div class="titulo-caja2">
            <div></div>
            <h3>PRODUCTOS RELACIONADOS</h3>
            <div>
        
            </div>
        </div>

        <section class="producto-caja2-detalle">
            <% productView.forEach(product => { %>
            <article class="producto-detalle">
                <div class="contenedor-foto-detalle">
                    <a href="/productos/detalle/<%- product.id %>"><img width="100%" src="/images/productos/<%-product.image%>" alt="imagen producto"></a>
                </div>
                <article class="detalles-producto">
                    <p><strong><%= product.name %></strong> </p>
                    <p>Precio por kg</p>
                    <p class="precio">$<%= product.price %> </p>
                    <div class="preboton">
                    <button class="boton-agregarDetalle" onclick="addToCart(`<%- product.id %>`, 1,`<%= user %>`)">
                        <p class="add">Agregar al carrito</p>
                    </button>
                </div>
                </article>
            </article>
            <% }) %>
        </section>
    </main>
    <!-- FOOTER -->

    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
   
</body>
</html>



