<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body class="homepage">
    <%- include("partials/header.ejs") %>

    <main class="main-homepage">
        <!-- Carrusel -->
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/images/banner1.png" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="/images/banner2.png" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="/images/banner3.png" style="width:100%">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <!-- codigo decimal de icono -->
            <a class="next" onclick="plusSlides(1)">&#10095;</a> <!-- codigo decimal de icono -->
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        <h3 id="titulo">Nuestros Bolsones</h3>
        <section class="bolsones">
            <% offertsView.forEach(oferta => { %>
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="/productos/ofertas/<%- oferta.id %>"><img width="100%" src="/images/<%- oferta.image[0] %>" alt="ofertaNaranjas"></a>  <!-- si toco la foto veria el detalle de producto -->
                </div>
                <button class="boton-ofertas">
                    <h4>COMPRAR</h4>
                </button>
                <article class="detalles">
                    <p><%= oferta.name %> </p>
                    <p class="precio">$ <%= toThousand(oferta.price)%> </p> 
                    <div class="opciones">
                      <p>Elegir cantidad</p>
                      <button id="cantidad">1</button>
                      <button id="cantidad">2</button>
                      <button id="cantidad">3</button>
                    </article>
                </div>
            </article>
            <% }) %>
        </section>
        <hr>
        <section id="informacion">
            <article>
                <img src="/images/enviogratis.jpg" alt="imagen de camion">
                <h4>Envíos Gratis</h4>
                <p>Hace tu pedido y te lo llevamos sin cargo (con tu compra mayor a $5000). En CABA y GBA.</p>
            </article>
            <article>
                <img src="/images/puntosderetiro.jpg" alt="imagen de retiros">
                <h4>Más de 30 puntos de retiro</h4>
                <p>Contamos con Puntos de Retiro en todo CABA y GBA. Hacé tu pedido en nuestra tienda y retiralo por tu sucursal más cercana.</p>
            </article>
            <article id="cultivo-fresco">
                <img src="/images/cultivosfrescos.jpg" alt="imagen cultivos frescos">
                <h4>Cultivos 100% frescos</h4>
                <p>Nuestro acuerdo directo con los productores, nos permite ofrecerte mercadería fresca y de primera calidad.</p>
            </article>
        </section>
        <hr>
        <h3 id="titulo">Destacados</h3>
        <section class="destacados">
            <% productView.forEach(product => { %>
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="/productos/detalle/<%- product.id %>"><img width="100%" src="/images/productos/<%-product.image%>" alt="imagen producto"></a>
                </div>
                <article class="detalles">
                    <p><%= product.name %></p>
                    <p>Precio por kg</p>
                    <p class="precio">$<%= product.price %> </p>
                    <button class="boton-agregar">
                        <a href="/productos/carrito"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <% }) %>
        </section>
    </main>
    <%- include("partials/footer.ejs") %> 
    <%- include("partials/scripts.ejs") %> 
</body>
</html>