<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="profile">
    <%- include("../partials/header.ejs") %>
    <section class="profile-section">
        <h2 class="profile"> Mi Perfil</h2>
        <form action="/usuario/perfil/<%= session.user.id %>" method="post">
            <div class="image"><img src="/images/usuarios/<%= user.image %>" alt="imagePerfil"></div> 
                <div class="input_file-container">
                    <span id="span">SUBIR IMAGEN</span>
                    <input class="avatar2" disabled type="file" name="image">
                </div>
            <div class="profile-box"> 
                <h2 class="datos-contacto">Datos de Contacto</h2>
                <div class="userData_container"> 
                    <div class="form_box"> 
                        <div class="input-container">
                            <input type="text" class="input-style" name="name" id="name" placeholder="Ingrese Nombre Y Apellido" value="<%= user.name %>" disabled>
                        </div>
                        <div class="input-container">
                            <input type="number" disabled class="input-style" name="dni" id="dni" placeholder="Ingrese su DNI" value="<%= user.dni %>">
                        </div>
                        <div class="input-container">
                            <input type="number" disabled class="input-style" name="phone" id="phone" placeholder="Número de Contacto" value="<%= user.phone %>">
                        </div> 
                        <div class="input-container">
                            <input type="number" disabled class="input-style" name="postCode" id="postCode" placeholder="Código Postal" value="<%= user.postCode %>">
                        </div> 
                    </div>
                    <div class="form_box">
                        <div class="input-container">

                            <select id="provinciaOption" name="province" disabled class="input-style">   
                                <option value="" hidden selected><%= user.province %></option>                          
                            </select>

                        </div>
                        <div class="input-container">

                            <select name="district" disabled class="input-style" >
                                <option value="" hidden selected><%= user.district %></option>
                            </select>
                        </div>
                        <div class="input-container">
                            <input type="text" disabled class="input-style" name="direction" placeholder="Dirección" value="<%= user.direction %>">
                        </div>
                        <div class="input-container">
                            <input type="number" disabled class="input-style" name="number" placeholder="Número de calle" value="<%= user.number %>">
                        </div>
                    </div>
                </div>  
            </div>
        </form>
        <div class="btn-container_profile">
            <a href="/usuario/perfil/editar/<%- user.id %>">
                <button type="submit" class="btn-submit"> Editar</button>
            </a>
        </div>
    </section>

    <!--FOOTER-->
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
    <script src="../../../javascript/validationsFront/apiProvincias.js"></script>
</body>
</html>