<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="registro">
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
    
    <section class="registro-section">
        <h2 class="registro">Registrate</h2>
        <br>
        <form action="/usuario/registro" method="post" enctype="multipart/form-data">
            <div class="input-container">
                <input type="text" class="input-style" name="name" placeholder="Nombre Completo" value="<%= (locals.old && old.name) ? old.name : "" %>">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message"><%= errors.name.msg %></span>
                <% } %>
            </div>
            <div class="input-container">
                <input type="email" class="input-style" name="email" placeholder="Correo Electrónico" value="<%= (locals.old && old.email) ? old.email : "" %>">
                <% if (locals.errors && errors.email) { %>
                    <span class="error-message"><%= errors.email.msg %></span>
                <% } %>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="password" placeholder="Contraseña">
                <% if (locals.errors && errors.password) { %>
                    <span class="error-message"><%= errors.password.msg %></span>
                <% } %>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="password2" placeholder="Reingrese su Contraseña">
                <% if (locals.errors && errors.password2) { %>
                    <span class="error-message"><%= errors.password2.msg %></span>
                <% } %>
            </div>
            <div class="avatar"> </div>
                <div class="input_file-container">
                    <span id="span">SUBIR IMAGEN</span>
                    <input class="avatar2" type="file" name="image">
                </div>
            <div class="btn-container">
                <button type="submit" class="btn-submit"> Continuar </button>
            </div>
            <p>Al registrarte, aceptas nuestras Condiciones de uso y </p>
            <p>Política de privacidad.</p>
            <span>¿Ya tienes una cuenta? <span><a href="/usuario/login"><strong> Iniciar Sesión</strong> </a></span></span>
        </form>
    </section>
    
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %>
</body>
</html>