<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="registro">
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
    
    <section class="registro-section">
        <h2 class="registro">Registrate</h2>
        <br>
        <form id="formRegister" action="/usuario/registro" method="post" enctype="multipart/form-data">

            <div class="input-container">
                <input id="name" type="text" class="input-style" name="name" placeholder="Nombre Completo" value="<%= (locals.old && old.name) ? old.name : "" %>">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message"><%= errors.name.msg %></span>
                <% } %>
                <span class="error-message" id="nameErrors"></span>
            </div>

            <div class="input-container">
                <input id="email" type="email" class="input-style" name="email" placeholder="Correo Electrónico" value="<%= (locals.old && old.email) ? old.email : "" %>">
                <% if (locals.errors && errors.email) { %>
                    <span class="error-message"><%= errors.email.msg %></span>
                <% } %>
                <span class="error-message" id="emailErrors"></span>
            </div>

            <div class="input-container">
                <input id="password" type="password" class="input-style" name="password" placeholder="Contraseña">
                <% if (locals.errors && errors.password) { %>
                    <span class="error-message"><%= errors.password.msg %></span>
                <% } %>
                <span class="error-message" id="passwordErrors"></span>
            </div>

            <div class="input-container">
                <input id="password2" type="password" class="input-style" name="password2" placeholder="Reingrese su Contraseña">
                <% if (locals.errors && errors.password2) { %>
                    <span class="error-message"><%= errors.password2.msg %></span>
                <% } %>
                <span class="error-message" id="password2Errors"></span>
            </div>

            <div class="avatar"> </div>
                <div class="input_file-container">
                    <span id="span">SUBIR IMAGEN</span>
                    <input class="avatar2" type="file" name="image" id="formFile" >
                    <span class="error-message" id="fileErrors"></span>
                </div>
            <div class="btn-container">
                <button type="submit" class="btn-submit"> Continuar </button>
                <span id="submitErrorsRegister" style="font-size: 14px; color: red;"></span>
            </div>

            <p class="info">Al registrarte, aceptas nuestras Condiciones de uso y </p>
            <p class="info">Política de privacidad.</p>
            <span>¿Ya tienes una cuenta? <span><a href="/usuario/login"><strong> Iniciar Sesión</strong> </a></span></span>
        </form>
    </section>
    
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %>

    <script src="../../../javascript/validationsFront/registerValidator.js"></script>
</body>
</html>